<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Barrows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Barrows.Properties.Settings>
            <setting name="AHoodL" serializeAs="String">
                <value />
            </setting>
            <setting name="AStaffL" serializeAs="String">
                <value />
            </setting>
            <setting name="ATopL" serializeAs="String">
                <value />
            </setting>
            <setting name="ASkirtL" serializeAs="String">
                <value />
            </setting>
            <setting name="DHelmL" serializeAs="String">
                <value />
            </setting>
            <setting name="DPlateL" serializeAs="String">
                <value />
            </setting>
            <setting name="DAxeL" serializeAs="String">
                <value />
            </setting>
            <setting name="DLegsL" serializeAs="String">
                <value />
            </setting>
            <setting name="GHelmL" serializeAs="String">
                <value />
            </setting>
            <setting name="GSpearL" serializeAs="String">
                <value />
            </setting>
            <setting name="GPlateL" serializeAs="String">
                <value />
            </setting>
            <setting name="GSkirtL" serializeAs="String">
                <value />
            </setting>
            <setting name="KCoifL" serializeAs="String">
                <value />
            </setting>
            <setting name="KTopL" serializeAs="String">
                <value />
            </setting>
            <setting name="KBowL" serializeAs="String">
                <value />
            </setting>
            <setting name="KSkirtL" serializeAs="String">
                <value />
            </setting>
            <setting name="THelmL" serializeAs="String">
                <value />
            </setting>
            <setting name="THammerL" serializeAs="String">
                <value />
            </setting>
            <setting name="TPlateL" serializeAs="String">
                <value />
            </setting>
            <setting name="TLegsL" serializeAs="String">
                <value />
            </setting>
            <setting name="VHelmL" serializeAs="String">
                <value />
            </setting>
            <setting name="VFlailL" serializeAs="String">
                <value />
            </setting>
            <setting name="VTopL" serializeAs="String">
                <value />
            </setting>
            <setting name="VSkirtL" serializeAs="String">
                <value />
            </setting>
            <setting name="ChestL" serializeAs="String">
                <value />
            </setting>
            <setting name="DryL" serializeAs="String">
                <value />
            </setting>
            <setting name="LastItemL" serializeAs="String">
                <value />
            </setting>
            <setting name="AHoodC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AStaffC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ATopC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ASkirtC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DHelmC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DAxeC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DPlateC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DLegsC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GHelmC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GSpearC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GPlateC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GSkirtC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KCoifC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KBowC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KTopC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KSkirtC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="THelmC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="THammerC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TPlateC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TLegsC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VHelmC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VFlailC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VTopC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VSkirtC" serializeAs="String">
                <value>0</value>
            </setting>
        </Barrows.Properties.Settings>
    </userSettings>
</configuration>